In [2]:
import pandas as pd
import numpy as np

df1 = pd.read_csv("/content/PRODUCTS_TAKEHOME.csv")
df2 = pd.read_csv("/content/TRANSACTION_TAKEHOME.csv")
df3 = pd.read_csv("/content/USER_TAKEHOME.csv")

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
df1

,CATEGORY_1,CATEGORY_2,CATEGORY_3,CATEGORY_4,MANUFACTURER,BRAND,BARCODE
0,Health & Wellness,Sexual Health,Conductivity Gels & Lotions,NaN,NaN,NaN,7.964944e+11
1,Snacks,Puffed Snacks,Cheese Curls & Puffs,NaN,NaN,NaN,2.327801e+10
2,Health & Wellness,Hair Care,Hair Care Accessories,NaN,PLACEHOLDER MANUFACTURER,ELECSOP,4.618178e+11
3,Health & Wellness,Oral Care,Toothpaste,NaN,COLGATE-PALMOLIVE,COLGATE,3.500047e+10
4,Health & Wellness,Medicines & Treatments,Essential Oils,NaN,MAPLE HOLISTICS AND HONEYDEW PRODUCTS INTERCHA...,MAPLE HOLISTICS,8.068109e+11
...,...,...,...,...,...,...,...
845547,Health & Wellness,Topical Muscle & Joint Relief Treatments,Braces & Wraps,NaN,NaN,NaN,7.223016e+11
845548,Snacks,Cookies,NaN,NaN,"TREEHOUSE FOODS, INC.",LOFTHOUSE,4.182082e+10
845549,Snacks,Candy,Confection Candy,NaN,HARIBO GMBH & CO KG,HARIBO,1.001672e+11
845550,Snacks,Nuts & Seeds,Hazelnuts,NaN,DOUBLE-COLA CO,JUMBO,7.539076e+10
845551,Health & Wellness,First Aid,First Aid Kits,NaN,3M,NEXCARE,7.967933e+11

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 845552 entries, 0 to 845551
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   CATEGORY_1    845441 non-null  object
 1   CATEGORY_2    844128 non-null  object
 2   CATEGORY_3    784986 non-null  object
 3   CATEGORY_4    67459 non-null   object
 4   MANUFACTURER  619078 non-null  object
 5   BRAND         619080 non-null  object
 6   BARCODE       841527 non-null  float64
dtypes: float64(1), object(6)
memory usage: 45.2+ MB

In [6]:
df1.drop(columns=['CATEGORY_4'], inplace=True, errors='ignore')

cols_to_fill = ['CATEGORY_1', 'CATEGORY_2', 'CATEGORY_3', 'MANUFACTURER', 'BRAND']
df1[cols_to_fill] = df1[cols_to_fill].fillna('Unknown')

#is used to remove rows from a DataFrame (df1) where the BARCODE column has missing values (NaN).
df1.dropna(subset=['BARCODE'], inplace=True)

#convert a barcode from float to string because barcodes are identifiers, not numbers for calculations. Storing them as strings prevents issues like losing precision, removing leading zeros, or formatting errors.
df1['BARCODE'] = df1['BARCODE'].astype(str)

df1.drop_duplicates(inplace=True)

In [7]:
for col in df1.columns:
    print(f"Value counts for {col}:\n{df1[col].value_counts()}\n")

Value counts for CATEGORY_1:
CATEGORY_1
Health & Wellness         510387
Snacks                    323039
Beverages                   3977
Pantry                       867
Apparel & Accessories        840
Dairy                        592
Needs Review                 547
Alcohol                      475
Home & Garden                115
Unknown                      111
Deli & Bakery                 66
Frozen                        62
Meat & Seafood                49
Sporting Goods                47
Office & School               45
Restaurant                    35
Toys & Games                  28
Household Supplies            24
Produce                       20
Animals & Pet Supplies        16
Arts & Entertainment           7
Electronics                    5
Mature                         3
Vehicles & Parts               3
Baby & Toddler                 3
Beauty                         2
Media                          2
Luggage & Bags                 1
Name: count, dtype: int64

Value counts for CATEGORY_2:
CATEGORY_2
Candy                      120635
Hair Care                  111169
Medicines & Treatments      98734
Bath & Body                 81131
Skin Care                   62185
                            ...
Games                           1
Audio                           1
Vehicle Storage & Cargo         1
Soup & Broth                    1
Baby Transport                  1
Name: count, Length: 122, dtype: int64

Value counts for CATEGORY_3:
CATEGORY_3
Unknown                          58714
Confection Candy                 56914
Vitamins & Herbal Supplements    55632
Chocolate Candy                  47561
Hair Styling Products            20406
                                 ...
Beans                                1
Vibration Exercise Machines          1
Chair & Sofa Cushions                1
Wind-Up Toys                         1
Baby Carriers                        1
Name: count, Length: 342, dtype: int64

Value counts for MANUFACTURER:
MANUFACTURER
Unknown                              226217
PLACEHOLDER MANUFACTURER              86899
REM MANUFACTURER                      20813
PROCTER & GAMBLE                      20797
L'OREAL                               16673
                                      ...
SNACKS GENERATION INC                     1
DANNON                                    1
AG CARE                                   1
GUY LAROCHE, INC                          1
OUTDOOR PRODUCT INNOVATIONS, INC.         1
Name: count, Length: 4355, dtype: int64

Value counts for BRAND:
BRAND
Unknown            226215
REM BRAND           20813
BRAND NOT KNOWN     17023
PRIVATE LABEL       13467
CVS                  6400
                    ...
HERLOCHERS              1
FEBFOXS                 1
S.O.S                   1
AFTERBURN               1
GATEWAY                 1
Name: count, Length: 8054, dtype: int64

Value counts for BARCODE:
BARCODE
5265169.0         2
50426171.0        2
20522445.0        2
42208488.0        2
75053055.0        2
                 ..
719283837301.0    1
43427192323.0     1
700712050095.0    1
18169482254.0     1
796793337781.0    1
Name: count, Length: 841342, dtype: int64

In [8]:
df1.to_csv('CLEANPRODUCTS_TAKEHOME.csv', index=False)

print("DataFrame saved as CLEANPRODUCTS_TAKEHOME.csv")

DataFrame saved as CLEANPRODUCTS_TAKEHOME.csv

In [9]:
df2

,RECEIPT_ID,PURCHASE_DATE,SCAN_DATE,STORE_NAME,USER_ID,BARCODE,FINAL_QUANTITY,FINAL_SALE
0,0000d256-4041-4a3e-adc4-5623fb6e0c99,2024-08-21,2024-08-21 14:19:06.539 Z,WALMART,63b73a7f3d310dceeabd4758,1.530001e+10,1.00,
1,0001455d-7a92-4a7b-a1d2-c747af1c8fd3,2024-07-20,2024-07-20 09:50:24.206 Z,ALDI,62c08877baa38d1a1f6c211a,NaN,zero,1.49
2,00017e0a-7851-42fb-bfab-0baa96e23586,2024-08-18,2024-08-19 15:38:56.813 Z,WALMART,60842f207ac8b7729e472020,7.874223e+10,1.00,
3,000239aa-3478-453d-801e-66a82e39c8af,2024-06-18,2024-06-19 11:03:37.468 Z,FOOD LION,63fcd7cea4f8442c3386b589,7.833997e+11,zero,3.49
4,00026b4c-dfe8-49dd-b026-4c2f0fd5c6a1,2024-07-04,2024-07-05 15:56:43.549 Z,RANDALLS,6193231ae9b3d75037b0f928,4.790050e+10,1.00,
...,...,...,...,...,...,...,...,...
49995,b5cd61a9-8033-4913-a5c4-fb3f65e3a321,2024-08-21,2024-08-31 14:13:08.634 Z,TARGET,6154bcf098f885648de2f299,8.523911e+10,2.00,1.18
49996,e1b2f634-c9ad-4152-b662-4b22efc25862,2024-08-11,2024-08-11 18:15:56.736 Z,STOP & SHOP,60aa809f188b926b2244c974,4.610040e+10,1.00,2.00
49997,b07ef8dd-e444-40a2-819b-f74a3e5f1ae7,2024-07-11,2024-07-11 08:03:25.816 Z,WALMART,60bd26e83dc3b13a15c5f4e7,6.466300e+11,1.00,20.96
49998,42475141-bef4-4df2-aa37-72577e2512bb,2024-06-18,2024-06-18 19:57:32.211 Z,MARKET BASKET,6169912fac47744405af62b7,4.180050e+10,1.00,3.00
49999,3a179c4e-46f2-4126-b3d2-3514afc23a3e,2024-08-07,2024-08-07 15:30:07.911 Z,WALMART,64e94d64ca929250373ef6e1,3.076607e+11,1.00,5.48

In [10]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   RECEIPT_ID      50000 non-null  object
 1   PURCHASE_DATE   50000 non-null  object
 2   SCAN_DATE       50000 non-null  object
 3   STORE_NAME      50000 non-null  object
 4   USER_ID         50000 non-null  object
 5   BARCODE         44238 non-null  float64
 6   FINAL_QUANTITY  50000 non-null  object
 7   FINAL_SALE      50000 non-null  object
dtypes: float64(1), object(7)
memory usage: 3.1+ MB

In [11]:
# Convert dates to datetime
df2['PURCHASE_DATE'] = pd.to_datetime(df2['PURCHASE_DATE'], errors='coerce')
df2['SCAN_DATE'] = pd.to_datetime(df2['SCAN_DATE'], errors='coerce')

# Convert FINAL_QUANTITY and FINAL_SALE to numeric
df2['FINAL_QUANTITY'] = pd.to_numeric(df2['FINAL_QUANTITY'], errors='coerce')
df2['FINAL_SALE'] = pd.to_numeric(df2['FINAL_SALE'], errors='coerce')


#is used to remove rows from a DataFrame (df2) where the BARCODE column has missing values (NaN).
df2.dropna(subset=['BARCODE'], inplace=True)

In [12]:
df2['FINAL_QUANTITY'] = df2['FINAL_QUANTITY'].fillna(0)
df2['FINAL_SALE'] = df2['FINAL_SALE'].fillna(0)

In [13]:
duplicate_count = df2.duplicated().sum()

print(f"Number of duplicate rows: {duplicate_count}")

Number of duplicate rows: 202

In [14]:
df2.drop_duplicates(inplace=True)

In [15]:
duplicate_count = df2.duplicated().sum()

print(f"Number of duplicate rows: {duplicate_count}")

Number of duplicate rows: 0

In [16]:
df2.to_csv('CLEANTRANSACTION_TAKEHOME.csv', index=False)

print("DataFrame saved as CLEANTRANSACTION_TAKEHOME.csv")

DataFrame saved as CLEANTRANSACTION_TAKEHOME.csv

In [17]:
df3

,ID,CREATED_DATE,BIRTH_DATE,STATE,LANGUAGE,GENDER
0,5ef3b4f17053ab141787697d,2020-06-24 20:17:54.000 Z,2000-08-11 00:00:00.000 Z,CA,es-419,female
1,5ff220d383fcfc12622b96bc,2021-01-03 19:53:55.000 Z,2001-09-24 04:00:00.000 Z,PA,en,female
2,6477950aa55bb77a0e27ee10,2023-05-31 18:42:18.000 Z,1994-10-28 00:00:00.000 Z,FL,es-419,female
3,658a306e99b40f103b63ccf8,2023-12-26 01:46:22.000 Z,NaN,NC,en,NaN
4,653cf5d6a225ea102b7ecdc2,2023-10-28 11:51:50.000 Z,1972-03-19 00:00:00.000 Z,PA,en,female
...,...,...,...,...,...,...
99995,61fc06d41febf771966da8fa,2022-02-03 16:46:12.000 Z,1992-03-16 08:00:00.000 Z,CA,en,female
99996,6391e7ef90ad5449ec5f782d,2022-12-08 13:34:39.000 Z,1993-09-23 05:00:00.000 Z,MO,en,female
99997,637d5efdd6f2a49c49934dcb,2022-11-22 23:45:05.000 Z,1983-04-19 00:00:00.000 Z,RI,en,female
99998,5f0de23b05d8a6147dc0cafa,2020-07-14 16:50:04.000 Z,1995-06-09 04:00:00.000 Z,DE,en,female
99999,5e7ab436905e9512ff44abc8,2020-03-25 01:30:30.000 Z,1995-12-15 05:00:00.000 Z,VA,NaN,female

In [18]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ID            100000 non-null  object
 1   CREATED_DATE  100000 non-null  object
 2   BIRTH_DATE    96325 non-null   object
 3   STATE         95188 non-null   object
 4   LANGUAGE      69492 non-null   object
 5   GENDER        94108 non-null   object
dtypes: object(6)
memory usage: 4.6+ MB

In [19]:
df3['CREATED_DATE'] = pd.to_datetime(df3['CREATED_DATE'], errors='coerce')
df3['BIRTH_DATE'] = pd.to_datetime(df3['BIRTH_DATE'], errors='coerce')

In [20]:
# Leaving missing values as NaT
df3['BIRTH_DATE'] = pd.to_datetime(df3['BIRTH_DATE'], errors='coerce')
df3['CREATED_DATE'] = pd.to_datetime(df3['CREATED_DATE'], errors='coerce')

In [21]:
duplicate_count = df3.duplicated().sum()

print(f"Number of duplicate rows: {duplicate_count}")

Number of duplicate rows: 0

In [22]:
for col in df3.columns:
    print(f"Value counts for {col}:\n{df3[col].value_counts()}\n")

Value counts for ID:
ID
5ef3b4f17053ab141787697d    1
5f889d85746cfc1620c10130    1
5dc6eb9192ad0e12e283bcb2    1
5f1de98e57441c14b826b270    1
5efe2d8d6e0151146c9a31bc    1
                           ..
66caa561ceb005043d74acf3    1
604b67b40134cc12de1361fb    1
66a156f8465f309038b30946    1
5fc5d3b4a071f3282e52f0c6    1
5e7ab436905e9512ff44abc8    1
Name: count, Length: 100000, dtype: int64

Value counts for CREATED_DATE:
CREATED_DATE
2023-01-12 18:30:15+00:00    2
2019-08-28 02:21:44+00:00    2
2024-04-11 02:56:41+00:00    2
2024-03-11 17:03:02+00:00    2
2024-02-25 20:43:59+00:00    2
                            ..
2024-08-25 03:30:41+00:00    1
2021-03-12 13:08:04+00:00    1
2024-07-24 19:33:12+00:00    1
2020-12-01 05:25:08+00:00    1
2020-03-25 01:30:30+00:00    1
Name: count, Length: 99942, dtype: int64

Value counts for BIRTH_DATE:
BIRTH_DATE
1970-01-01 00:00:00+00:00    1272
1979-12-11 08:00:00+00:00      63
2000-12-12 00:00:00+00:00      28
2000-12-31 00:00:00+00:00      23
2001-01-01 00:00:00+00:00      16
                             ...
2004-02-21 08:00:00+00:00       1
1956-02-09 05:00:00+00:00       1
1974-07-13 00:00:00+00:00       1
1991-05-23 04:00:00+00:00       1
1995-06-09 04:00:00+00:00       1
Name: count, Length: 54721, dtype: int64

Value counts for STATE:
STATE
TX    9028
FL    8921
CA    8589
NY    5703
IL    3794
GA    3718
PA    3644
OH    3519
NC    3399
NJ    2899
MI    2582
VA    2400
IN    2213
TN    2165
AL    1792
SC    1773
KY    1731
AZ    1728
MO    1652
MD    1636
MA    1523
WI    1389
PR    1361
LA    1290
WA    1234
CO    1139
MN    1125
CT    1110
OK    1100
AR    1011
MS     960
IA     933
NV     837
KS     835
OR     700
WV     674
UT     593
DE     492
NE     487
NM     452
ME     368
NH     359
HI     350
ID     350
AK     297
RI     284
DC     241
SD     205
ND     185
MT     169
WY     138
VT     111
Name: count, dtype: int64

Value counts for LANGUAGE:
LANGUAGE
en        63403
es-419     6089
Name: count, dtype: int64

Value counts for GENDER:
GENDER
female                    64240
male                      25829
transgender                1772
prefer_not_to_say          1350
non_binary                  473
unknown                     196
not_listed                  180
Non-Binary                   34
not_specified                28
My gender isn't listed        5
Prefer not to say             1
Name: count, dtype: int64

In [23]:
df3['LANGUAGE'] = df3['LANGUAGE'].fillna('en')  # Assume default is 'en' (English) AS IF IS MORE

In [24]:
df3['GENDER'] = df3['GENDER'].str.lower().replace({
    'female': 'Female',
    'male': 'Male',
    'transgender': 'Transgender',
    'non_binary': 'Non-Binary',
    'not_listed': 'Other',
    'unknown': 'Unknown',
    'prefer_not_to_say': 'Prefer Not to Say'
}).fillna('Other')

df3['GENDER'] = df3['GENDER'].replace({
    'unknown': 'Other',
    'not_specified': 'Other',
    'prefer not to say': 'Prefer Not to Say',
    'other': 'Other'  # Fixed syntax here
})

# Check updated value counts
print(df3['GENDER'].value_counts())

GENDER
Female                    64240
Male                      25829
Other                      6100
Transgender                1772
Prefer Not to Say          1351
Non-Binary                  473
Unknown                     196
non-binary                   34
my gender isn't listed        5
Name: count, dtype: int64

In [25]:
df3['GENDER'] = df3['GENDER'].str.lower().replace({
    'female': 'Female',
    'male': 'Male',
    'transgender': 'Transgender',
    'non-binary': 'Non-Binary',
    'non_binary': 'Non-Binary',
    'my gender isn\'t listed': 'Other',
    'unknown': 'Other',
    'not_listed': 'Other',
    'not_specified': 'Other',
}).fillna('Other')

# Capitalize all entries for consistency
df3['GENDER'] = df3['GENDER'].str.capitalize()

# Check updated value counts
print(df3['GENDER'].value_counts())

GENDER
Female               64240
Male                 25829
Other                 6301
Transgender           1772
Prefer not to say     1351
Non-binary             507
Name: count, dtype: int64

In [26]:
df3.to_csv('CLEANUSER_TAKEHOME.csv', index=False)

print("DataFrame saved as CLEANTRANSACTION_TAKEHOME.csv")

DataFrame saved as CLEANTRANSACTION_TAKEHOME.csv